@model IEnumerable<PartyInvites.Models.GuestResponse>;
@{
    ViewData["Title"] = "ListResponses";
}

<html>
<head>
    <title>Lista de respuesta</title>
</head>
<body>
    <div class="panel-body">
        <h2>Lista de personas que van a estar en la gran fiesta</h2>
    </div>
    <table e class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>

        <tbody>
            @foreach (PartyInvites.Models.GuestResponse elemento in Model)
            {
                <tr>
                    <td>@elemento.Name</td>
                    <td>@elemento.Email</td>
                    <td>@elemento.Phone</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>